## Penjelasan

Proyek ini terdapat data yang berasal dari Badan Pusat Statistik (BPS https://www.bps.go.id/), pada data ini memuat nilai tukar petani (NTP).

NTP sendiri merupakan indikator proxy kesejahteraan petani. NTP didapat dari perbandingan antara Indeks harga yg diterima petani (It) dengan Indeks harga yg dibayar petani (Ib).

NTP sendiri mempunyai arti yaitu sebegai berikut:

1. NTP > 100, berarti petani mengalami surplus. Harga produksi naik lebih besar dari kenaikan harga konsumsinya. Pendapatan petani naik lebih besar dari pengeluarannya.

2. NTP = 100, berarti petani mengalami impas. Kenaikan/penurunan harga produksinya sama dengan persentase kenaikan/penurunan harga barang konsumsi. Pendapatan petani sama dengan pengeluarannya.

3. NTP< 100, berarti petani mengalami defisit. Kenaikan harga produksi relatif lebih kecil dibandingkan dengan kenaikan harga barang konsumsinya. Pendapatan petani turun, lebih kecil dari pengeluarannya.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import locale
from locale import atof
import numpy as np
locale.setlocale(locale.LC_NUMERIC, '')

'id_ID.UTF-8'

In [2]:
data = pd.read_csv("data/NTP_2020.csv")

In [3]:
data.head()

,Provinsi,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,Kelompok
0,ACEH,"101,09","99,20","98,78","98,52","97,24","99,07","97,85","98,60","98,88","98,52","99,12","98,01","98,74",Petani
1,SUMATERA UTARA,"113,69","111,71","109,41","106,41","104,50","105,13","106,84","108,53","110,44","112,01","114,00","115,21","109,83",Petani
2,SUMATERA BARAT,"103,40","102,63","101,74","99,62","97,73","97,98","98,39","99,41","100,54","100,94","101,95","102,68","100,59",Petani
3,RIAU,"123,93","117,90","113,76","115,64","111,74","109,66","113,57","116,88","120,94","123,61","127,32","130,34","118,79",Petani
4,JAMBI,"110,47","107,07","104,85","102,16","98,55","101,15","103,57","106,89","110,28","112,68","115,75","117,83","107,62",Petani

In [4]:
data = data.replace('-',np.nan)
data = data.replace(np.nan, 0)

In [5]:
print("Kelompok ",data["Kelompok"].unique())
print("Provinsi ",data["Provinsi"].unique())

Kelompok  ['Petani' 'Petani Tanaman Pangan' 'Petani Hortikultura'
 'Petani Tanaman Perkebunan' 'Petani Peternakan' 'Nelayan'
 'Pembudidayaan Ikan' 'Nelayan dan Pembudidayaan Ikan']
Provinsi  ['ACEH' 'SUMATERA UTARA' 'SUMATERA BARAT' 'RIAU' 'JAMBI'
 'SUMATERA SELATAN' 'BENGKULU' 'LAMPUNG' 'KEP. BANGKA BELITUNG'
 'KEP. RIAU' 'DKI JAKARTA' 'JAWA BARAT' 'JAWA TENGAH' 'DI YOGYAKARTA'
 'JAWA TIMUR' 'BANTEN' 'BALI' 'NUSA TENGGARA BARAT' 'NUSA TENGGARA TIMUR'
 'KALIMANTAN BARAT' 'KALIMANTAN TENGAH' 'KALIMANTAN SELATAN'
 'KALIMANTAN TIMUR' 'KALIMANTAN UTARA' 'SULAWESI UTARA' 'SULAWESI TENGAH'
 'SULAWESI SELATAN' 'SULAWESI TENGGARA' 'GORONTALO' 'SULAWESI BARAT'
 'MALUKU' 'MALUKU UTARA' 'PAPUA BARAT' 'PAPUA' 'INDONESIA']

In [6]:
dfPangan = data[data["Kelompok"]=="Petani Tanaman Pangan"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)
dfHortikultura  = data[data["Kelompok"]=="Petani Hortikultura"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)
dfKebunan = data[data["Kelompok"]=="Petani Tanaman Perkebunan"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)
dfPeternakan = data[data["Kelompok"]=="Petani Peternakan"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)
dfNelayan = data[data["Kelompok"]=="Nelayanan"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)
dfBudIkan = data[data["Kelompok"]=="Pembudidayaan Ikan"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)
dfNelayandanBudidaya = data[data["Kelompok"]=="Nelayanan dan Pembudidayaan Ikan"].drop(columns = "Kelompok").set_index('Provinsi').apply(lambda x: x.str.replace(',','.')).astype(float).replace(np.nan, 0)

In [7]:
dfPProv = dfPangan.drop(index='INDONESIA')

In [8]:
dfPProv

,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan
Provinsi,,,,,,,,,,,,,
ACEH,99.83,98.80,96.96,99.60,99.53,100.84,99.76,99.09,99.13,98.41,98.65,98.42,99.08
SUMATERA UTARA,98.23,98.10,96.95,96.44,96.92,97.56,96.95,96.90,96.87,96.61,96.38,94.98,96.90
SUMATERA BARAT,101.57,102.28,102.50,101.67,99.92,98.76,98.52,98.43,98.06,96.93,95.42,94.84,99.06
RIAU,95.16,94.81,92.34,93.47,92.84,93.05,94.13,93.61,93.68,93.64,93.15,92.94,93.57
JAMBI,101.27,101.22,101.47,101.80,100.49,99.91,99.92,100.63,100.62,100.08,99.73,98.68,100.48
SUMATERA SELATAN,103.32,102.27,101.73,99.79,98.04,98.03,97.65,97.54,98.02,96.41,94.06,92.52,98.27
BENGKULU,102.92,104.04,104.23,102.47,101.24,102.39,103.88,106.25,104.50,103.70,100.81,99.92,103.02
LAMPUNG,98.90,97.82,95.93,94.48,93.37,93.06,93.28,94.12,94.30,91.64,91.69,92.55,94.26
KEP. BANGKA BELITUNG,99.85,99.49,101.00,101.43,101.02,100.16,100.26,101.61,100.23,99.74,99.51,98.16,100.20
KEP. RIAU,102.96,100.71,101.84,103.72,102.49,101.19,102.38,101.11,101.75,103.45,103.89,104.54,102.50
DKI JAKARTA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
JAWA BARAT,106.48,106.75,106.69,104.19,102.20,101.54,101.39,101.43,102.54,103.12,102.22,100.95,103.28
JAWA TENGAH,108.00,107.06,104.61,102.50,102.81,102.65,102.07,102.78,104.24,104.17,103.57,102.72,103.93
DI YOGYAKARTA,104.75,105.07,102.95,102.16,102.86,101.23,101.89,102.22,101.84,101.36,99.96,98.26,102.04
JAWA TIMUR,106.77,105.45,102.57,100.48,100.28,101.35,101.09,101.95,103.44,103.40,102.68,102.48,102.66
BANTEN,106.70,106.96,107.84,104.55,101.76,99.49,100.13,101.60,102.77,101.28,101.19,100.74,102.91
BALI,100.50,100.96,102.06,99.87,98.86,97.95,98.77,99.73,99.41,100.00,98.57,97.87,99.54
NUSA TENGGARA BARAT,108.67,109.33,109.16,106.25,106.08,105.83,106.60,108.26,108.72,110.93,111.76,111.51,108.59
NUSA TENGGARA TIMUR,95.55,95.48,95.21,95.87,95.42,96.22,95.29,94.54,94.61,95.09,95.10,95.02,95.28
KALIMANTAN BARAT,100.33,97.83,95.90,96.21,96.82,97.26,95.63,96.22,96.42,96.83,96.88,96.67,96.91
KALIMANTAN TENGAH,100.85,99.99,97.82,98.71,98.33,97.67,98.61,99.15,100.14,99.83,98.76,99.15,99.08
KALIMANTAN SELATAN,102.60,102.31,101.82,99.85,101.57,102.68,101.79,100.79,101.51,101.87,102.10,103.24,101.85
KALIMANTAN TIMUR,103.43,104.36,103.12,102.81,102.69,101.61,100.98,101.35,101.00,100.14,99.36,98.37,101.60
KALIMANTAN UTARA,100.82,100.38,100.56,100.16,99.48,99.55,99.98,100.06,100.24,100.28,99.98,99.58,100.09
SULAWESI UTARA,103.11,103.87,104.59,104.20,105.04,104.76,105.50,105.32,104.41,105.72,105.59,105.72,104.82
SULAWESI TENGAH,95.11,95.43,97.09,99.14,98.99,97.48,97.84,98.51,98.76,97.91,97.19,97.45,97.58
SULAWESI SELATAN,95.15,95.90,95.23,96.70,96.00,96.18,95.76,95.69,96.38,96.40,96.27,95.85,95.96
SULAWESI TENGGARA,97.59,98.96,98.67,98.95,97.83,96.61,96.32,97.15,99.00,97.51,97.58,97.06,97.77
GORONTALO,96.69,96.64,96.86,96.48,97.10,94.88,96.06,96.02,97.10,97.74,98.46,99.17,96.93
SULAWESI BARAT,99.12,98.64,99.81,100.11,98.89,98.06,97.50,98.29,99.20,99.84,100.66,102.06,99.35
MALUKU,96.26,97.20,96.55,97.27,96.13,98.39,98.15,97.61,96.70,97.74,99.17,98.11,97.44
MALUKU UTARA,96.75,96.04,96.32,96.69,97.16,96.19,96.28,97.63,98.45,99.83,99.24,99.08,97.47
PAPUA BARAT,106.46,105.83,105.71,105.84,105.44,104.11,104.36,104.78,104.80,104.17,103.44,103.04,104.83
PAPUA,101.13,100.87,101.19,100.06,99.87,101.43,101.31,102.15,103.04,102.77,101.95,101.72,101.46

In [9]:
print("======================== Statistika Deskriptif Kelompok Petani Pangan Seluruh Provinsi ========================")
dfPProv.drop(columns="Tahunan").describe()

======================== Statistika Deskriptif Kelompok Petani Pangan Seluruh Provinsi ========================

,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,98.142059,97.966176,97.567059,97.174118,96.690294,96.413824,96.471471,96.838824,97.114118,97.015882,96.616765,96.275588
std,17.769204,17.741443,17.699880,17.466242,17.373776,17.309957,17.341319,17.450627,17.485843,17.546963,17.494098,17.461097
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,97.750000,97.822500,96.882500,96.842500,97.115000,97.315000,96.477500,97.247500,97.330000,97.075000,96.957500,96.767500
50%,100.835000,100.545000,101.095000,99.965000,99.505000,99.125000,99.265000,99.440000,99.775000,99.835000,99.300000,98.550000
75%,103.267500,103.997500,102.855000,102.392500,101.712500,101.410000,101.370000,101.607500,102.365000,102.545000,101.760000,101.527500
max,108.670000,109.330000,109.160000,106.250000,106.080000,105.830000,106.600000,108.260000,108.720000,110.930000,111.760000,111.510000

In [10]:
dfPProv = dfPProv.reset_index()

In [11]:
dfPProv["Tahunan"].describe()

count     34.000000
mean      97.020882
std       17.459676
min        0.000000
25%       97.447500
50%       99.445000
75%      102.385000
max      108.590000
Name: Tahunan, dtype: float64

In [12]:
print("Daerah yang memiliki NTP tertinggi")
dfPProv[dfPProv["Tahunan"]==dfPProv["Tahunan"].max()]

Daerah yang memiliki NTP tertinggi

,Provinsi,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan
17,NUSA TENGGARA BARAT,108.67,109.33,109.16,106.25,106.08,105.83,106.6,108.26,108.72,110.93,111.76,111.51,108.59

In [13]:
print("Daerah yang memiliki NTP terendah")
dfPProv[dfPProv["Tahunan"]==dfPProv["Tahunan"].min()]

Daerah yang memiliki NTP terendah

,Provinsi,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan
10,DKI JAKARTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
rt = dfPProv.set_index("Provinsi").T.mean()
sorted(rt.items(), key=lambda item: item[1], reverse=True)

[('NUSA TENGGARA BARAT', 108.59153846153846),
 ('PAPUA BARAT', 104.83153846153846),
 ('SULAWESI UTARA', 104.81923076923076),
 ('JAWA TENGAH', 103.93153846153847),
 ('JAWA BARAT', 103.29076923076923),
 ('BENGKULU', 103.02846153846153),
 ('BANTEN', 102.9169230769231),
 ('JAWA TIMUR', 102.66153846153848),
 ('KEP. RIAU', 102.50230769230771),
 ('DI YOGYAKARTA', 102.0453846153846),
 ('KALIMANTAN SELATAN', 101.84461538461537),
 ('KALIMANTAN TIMUR', 101.60153846153847),
 ('PAPUA', 101.4576923076923),
 ('JAMBI', 100.4846153846154),
 ('KEP. BANGKA BELITUNG', 100.2046153846154),
 ('KALIMANTAN UTARA', 100.08923076923075),
 ('BALI', 99.54538461538462),
 ('SULAWESI BARAT', 99.34846153846154),
 ('ACEH', 99.08461538461538),
 ('KALIMANTAN TENGAH', 99.08384615384615),
 ('SUMATERA BARAT', 99.07384615384616),
 ('SUMATERA SELATAN', 98.28076923076922),
 ('SULAWESI TENGGARA', 97.76923076923077),
 ('SULAWESI TENGAH', 97.57538461538462),
 ('MALUKU UTARA', 97.47153846153847),
 ('MALUKU', 97.44),
 ('GORONTALO', 96.93307692307692),
 ('KALIMANTAN BARAT', 96.91615384615385),
 ('SUMATERA UTARA', 96.90692307692309),
 ('SULAWESI SELATAN', 95.95923076923077),
 ('NUSA TENGGARA TIMUR', 95.2830769230769),
 ('LAMPUNG', 94.26153846153845),
 ('RIAU', 93.56846153846153),
 ('DKI JAKARTA', 0.0)]